
/* public start */
	*{
		font-family: 'Microsoft YaHei' !important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	html,body{
		background-color: #f3f3f3;
		margin: 0;
		padding: 0;
		overflow-y: hidden;
	}
	.glyphicon{
		font-family: 'Glyphicons Halflings' !important;
	}
	a.glyphicon{
		text-decoration: none;
	}
	input:-webkit-autofill{
    	-webkit-box-shadow:0 0 0px 20px #223348 inset;
    	border: 1px solid #223348!important;

    }
    .a-box{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		min-width: 1200px;
		margin: 0 auto;
		overflow: hidden;
		background: transparent;
	}
	.a-content{
		position: absolute;
		top: 90px;
		left: 10px;
		right: 10px;
		bottom: 0;
		overflow: hidden;
	}
	.sidbar-left{
		position: absolute;
		top: 90px;
		left: 0px;
		width: 60px;
		bottom: 0;
		background-color: #38bfff;
	}
	.sidbar-left+.a-content{
		left: 65px;
	}
	.a-line{
		margin: 0;
	}
/* public end */

/* icon start*/
	.a-icon{
		display: inline-block;
		*display: inline;
		*zoom: 1;
		background-image: url(../images/sprite.png);
		background-repeat: no-repeat;
		overflow: hidden;
	}
	.a-icon-home,.a-icon-trend,.a-icon-data,.a-icon-selected{
		width: 35px;
		height: 35px;
	}
	.a-icon-home{
		background-position: -200px 0;	
	}
	.a-icon-trend{
		background-position: -159px -111px;	
	}
	.a-icon-data{
		background-position: -235px 0;
	}
	.a-icon-selected{
		background-position: -270px 0;
	}
	.a-icon-classify{
		background-position: -305px 0;
	}
	.a-icon-user,.a-icon-set,.a-icon-collect,.a-icon-bgsearch,.a-icon-img,
	.a-icon-edit,.a-icon-btn-search,.a-icon-point-add,.a-icon-ash-bin,
	.a-icon-btn-grid,.a-icon-cursor-add,.a-icon-cursor-minus{
		width: 20px;
		height: 20px;
	}
	.a-icon-user{
		background-position: -165px -35px;
	}
	.a-icon-set{
		background-position: -185px -35px;
	}
	.a-icon-collect{
		background-position: -205px -35px;
	}
	.a-icon-bgsearch{
		background-position: -225px -35px;
	}
	.a-icon-img{
		background-position: -245px -36px;
	}
	.a-icon-edit{
		background-position: -265px -35px;
	}
	.a-icon-btn-search{
		background-position: -285px -35px;
	}
	.a-icon-cursor-add{
		background-position: -305px -35px;
	}
	.a-icon-cursor-minus{
		background-position: -325px -35px;
	}
	.a-icon-ash-bin{
		background-position: -345px -35px;
	}
	.a-icon-btn-grid{
		background-position: -365px -35px;
	}
	.a-icon-point-add{
		background-position: -385px -35px;
	}
	.a-icon-30{
		width: 30px;
		height: 30px;
	}
	/* up row */
	.a-icon-30-1{
		background-position: 0px -55px;
	}
	.active .a-icon-30-1,a:hover .a-icon-30-1{
		background-position: 0px -85px;
	}
	.a-icon-30-2{
		background-position: -30px -55px;
	}
	.active .a-icon-30-2,a:hover .a-icon-30-2{
		background-position: -30px -85px;
	}
	.a-icon-30-3{
		background-position: -60px -55px;
	}
	.active .a-icon-30-3,a:hover .a-icon-30-3{
		background-position: -60px -85px;
	}
	.a-icon-30-4{
		background-position: -90px -55px;
	}
	.active .a-icon-30-4,a:hover .a-icon-30-4{
		background-position: -90px -85px;
	}
	.a-icon-30-5{
		background-position: -120px -55px;
	}
	.active .a-icon-30-5,a:hover .a-icon-30-5{
		background-position: -120px -85px;
	}
	.a-icon-30-6{
		background-position: -150px -55px;
	}
	.active .a-icon-30-6,a:hover .a-icon-30-6{
		background-position: -150px -85px;
	}
	.a-icon-30-7{
		background-position: -180px -55px;
	}
	.active .a-icon-30-7,a:hover .a-icon-30-7{
		background-position: -180px -85px;
	}
	.a-icon-30-8{
		background-position: -210px -55px;
	}
	.active .a-icon-30-8,a:hover .a-icon-30-8{
		background-position: -210px -85px;
	}
	.a-icon-30-9{
		background-position: -240px -55px;
	}
	.active .a-icon-30-9,a:hover .a-icon-30-9{
		background-position: -240px -85px;
	}
	.a-icon-30-10{
		background-position: -270px -55px;
	}
	.active .a-icon-30-10,a:hover .a-icon-30-10{
		background-position: -270px -85px;
	}
	.a-icon-30-11{
		background-position: -300px -55px;
	}
	.active .a-icon-30-11,a:hover .a-icon-30-11{
		background-position: -300px -85px;
	}
	.a-icon-30-12{
		background-position: -330px -55px;
	}
	.active .a-icon-30-12,a:hover .a-icon-30-12{
		background-position: -330px -85px;
	}
	.a-icon-30-13{
		background-position: -360px -55px;
	}
	.active .a-icon-30-13,a:hover .a-icon-30-13{
		background-position: -360px -85px;
	}
	.a-icon-30-14{
		background-position: -390px -55px;
	}
	.active .a-icon-30-14,a:hover .a-icon-30-14{
		background-position: -390px -85px;
	}
	.a-icon-30-15{
		background-position: -420px -55px;
	}
	.active .a-icon-30-15,a:hover .a-icon-30-15{
		background-position: -420px -85px;
	}
	.a-icon-30-16{
		background-position: -450px -55px;
	}
	.active .a-icon-30-16,a:hover .a-icon-30-16{
		background-position: -450px -85px;
	}
	.a-icon-30-17{
		background-position: -480px -55px;
	}
	.active .a-icon-30-17,a:hover .a-icon-30-17{
		background-position: -480px -85px;
	}
	.a-icon-30-18{
		background-position: -510px -55px;
	}
	.active .a-icon-30-18,a:hover .a-icon-30-18{
		background-position: -510px -85px;
	}
	.a-icon-30-19{
		background-position: -540px -55px;
	}
	.active .a-icon-30-19,a:hover .a-icon-30-19{
		background-position: -540px -85px;
	}
	.a-icon-30-20{
		background-position: -570px -55px;
	}
	.active .a-icon-30-20,a:hover .a-icon-30-20{
		background-position: -570px -85px;
	}
	/* down row */
	.a-icon-30-21{
		background-position: 2px -247px;
	}
	.active .a-icon-30-21,a:hover .a-icon-30-21{
		background-position: 2px -220px;
	}
	.a-icon-30-22{
		background-position: -27px -247px;
	}
	.active .a-icon-30-22,a:hover .a-icon-30-22{
		background-position: -27px -220px;
	}
	.a-icon-30-23{
		background-position: -57px -247px;
	}
	.active .a-icon-30-23,a:hover .a-icon-30-23{
		background-position: -57px -220px;
	}
	.a-icon-30-24{
		background-position: -85px -247px;
	}
	.active .a-icon-30-24,a:hover .a-icon-30-24{
		background-position: -85px -220px;
	}
	.a-icon-30-25{
		background-position: -112px -247px;
	}
	.active .a-icon-30-25,a:hover .a-icon-30-25{
		background-position: -112px -220px;
	}
	.a-icon-30-26{
		background-position: -144px -247px;
	}
	.active .a-icon-30-26,a:hover .a-icon-30-26{
		background-position: -144px -220px;
	}

	.a-icon-warning{
		background-position: -60px -163px;
	}
/* icon end*/

/* login start */
	.a-login{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		bottom: 0;
		min-height: 600px;
		min-width: 1200px;
		margin: 0 auto;
		overflow: hidden;
		background-image: url(../images/beijing.png);
		background-size: contain;
	}
	.a-login .a-hbtx{
		background-image: url(../images/hbtx.png);
		width: 550px;
		height: 95px;
		margin: 0 auto;
		margin-top: 130px;
	}
	.a-login .a-box{
		width: 425px;
		height: 305px;
		margin: 0 auto;
		margin-top: 35px;
		background-color: rgba(66,67,68,.6);
		border-radius: 10px;
		border-top: 1px solid black;
    	border-left: 1px solid black;
    	border-right: 1px solid black;
	}
	.a-login .a-box .a-box1{
		height: 250px;
		padding-top: 70px;
		border-top: 2px solid #8ab9d0;
    	border-left: 1px solid #8ab9d0;
    	border-right: 1px solid #8ab9d0;
    	border-top-left-radius: 10px;
    	border-top-right-radius: 10px;
	}
	.a-login .a-tag{
		margin-left: 70px;
		color: #ffa508;
		font-size: 12px;
		margin-top: -27px;
	}
	.a-login .a-tag.hidden{
		display: none!important;
		visibility: hidden!important;
	}
	.a-login .a-form-control{
		position: relative;
    	height:45px;
    	margin:0px 40px 20px 55px;
	}
	.a-login .a-form-control img{
		position: absolute;
    	left:14px;
    	top:10px;
	}
	.a-login .a-form-control .text{
		width: 320px;
    	height:40px;
    	border-radius:30px;
    	background-color: #223348;
    	padding-left: 36px;
    	color:white;
    	border:0;
    	outline:none;
	}
	.a-login .a-fangke{
		color: #ccc;
		font-size: 14px;
		float: right;
		margin-top: 25px;
		margin-right: 20px;
		text-decoration: none;
	}
	.a-login .a-box2{
		height:55px;
    	background:#171825;
    	text-align: center;
    	border-bottom-left-radius: 7px;
    	border-bottom-right-radius: 7px;
	}
	.a-login .a-btn-login{
		color:white;
        font-size: 25px;
        line-height: 55px;
        height:55px;
        background:#171825;
        border:0;
        outline:none;
        text-decoration: none;
	}
/* login end */

/* nav start */
	.a-navbar-top{
		position: absolute;
		top: 0;
		width: 100%;
		height: 82px;
		background-color: #273747;
		border-radius: 0;
		border-width: 0;
		overflow: hidden;
		z-index: 1000;
	}
	.a-navbar-top.navbar>.container-fluid .navbar-brand.a-logo{
		text-indent: -999em;
		width: 215px;
		height: 55px;
		margin: 17px 20px 10px 18px;
		background-image: url(../images/logo.png);
		background-repeat: no-repeat;
		background-position: 0 0;
	}
	.a-navbar-top .navbar-nav>li>a{
		text-align: center;
		font-size: 16px;
		height: 82px;
		line-height: 60px;
		color: #0db2ff;
		padding: 15px 25px;
		vertical-align: middle;
		border-right: 1px solid #476380;
		box-shadow: 0 -1px 1px #1b2732;
	}
	.a-navbar-top .navbar-nav>li>a:hover,.a-navbar-top .navbar-nav>li.active>a{
		border-right: 1px solid #0d1217;
		background-color: #19232d;
		box-shadow: 0 -3px 5px #11181f;
	}
	.a-navbar-top .a-icon{
		width: 35px;
		height: 35px;
		margin: 8px 15px 0 0;
		float: left;
	}
	.a-navbar-top .navbar-right{
		width: 332px;
		padding: 4px 10px;
	}
	.a-navbar-top .navbar-right>ul>li,.a-navbar-top .navbar-right>ul>li>a{
		font-size: 12px;
		color: #0db2ff;
		line-height: 30px;
	}
	.a-navbar-top .breadcrumb{
		background-color: transparent;
		padding-top: 0;
		padding-bottom: 0;
		margin: 0;
		float:right;
	}
	.a-navbar-top .breadcrumb>li{
		float:left;
	}
	.a-navbar-top .breadcrumb>li>a{
		line-height: 30px;
		padding: 0;
		height: 30px;
		border-width: 0;
	}
	.breadcrumb.clearfix li:nth-child(4) {
        margin-left: 22px;
    }
	.a-navbar-top .breadcrumb>li+li:before{
		content: '';
	}
	.a-navbar-top .breadcrumb>li.logout:before{
		content: '|';
		color: #506478;
	}
	.a-navbar-top .breadcrumb>li.user>a{
		padding-right: 10px;
	}
	.a-navbar-top .breadcrumb>li.logout>a{
		color: #afcbe9;
		padding-left: 10px;
		padding-right: 14px;
	}
	.user{
		margin-right: 10px;
	}
	.logout{
		margin-right: 10px;
	}
	.a-navbar-top .breadcrumb>li>a:hover{
		background-color: transparent;
		color: #4484B4;
	}
	.a-navbar-top .breadcrumb .a-icon{
		width: 20px;
		height: 20px;
		margin: 5px 0;
	}
	.a-navbar-top .navbar-form{
		padding-left: 2px;
		padding-right: 2px;
		padding-top:10px;
	}
	.a-navbar-top .navbar-form .input-group{
		display: table;
		width: 100%;
	}
	.input-group{
		padding-top:10px;
	}
	.input-group{
		-moz-padding-top:30px;
	}
	.a-navbar-top .input-group .form-control{
		height: 26px;
		padding-top: 2px;
		padding-bottom: 2px;
		box-shadow: 0 -1px 2px #333;
	}
	.a-navbar-top .input-group .input-group-addon{
		padding-top: 2px;
		padding-bottom: 2px;
		background-color: #0db2ff;
		color: #fff;
		border-color: #0db2ff;
	}
	.a-navbar-top .input-group .input-group-addon .a-null{
		background: transparent;
		padding: 0;
		border-width: 0;
	}
/* nav end */

/* sidbar left start */
	.sidbar-left>ul{
		border-top: 1px solid #e6e6e6;
		border-right: 1px solid #e6e6e6;
	}
	.sidbar-left>ul,.sidbar-left>ul>li{
		display: block;
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
	}
	.sidbar-left>ul>li>a{
		display: block;
		color: #fff;
		font-size: 12px;
		line-height: 20px;
		padding-top: 10px;
		padding-bottom: 15px;
		border-bottom: 1px solid #69cfff;
		background-color: #05aeff;
	}
	.sidbar-left>ul>li>a:hover,.sidbar-left>ul>li.active>a{
		background-color: #fff;
		border-bottom-color: #fff;
		color: #666666;
		text-decoration: none;
	}
	.sidbar-left .a-icon{
		display: block;
		width: 30px;
		height: 30px;
		margin: 0 auto;
	}
/* sidbar left end */

/* content left start */
	.a-content-left{
		position: absolute;
		top: 0;
		left: 0;
		width: 400px;
		bottom: 0;
		padding: 5px 20px 0 15px;
		border: 1px solid #e6e6e6;
		background: #fff;
	}
	.a-content-left>.a-tab-bar{
		position: relative;
		display: block;
		border-bottom: 1px solid #e6e6e6;
		height: 37px;
		overflow: visible;
	}
	.a-content-left>.a-tab-bar>.a-tab-box{
		display: block;
		margin-right: 20px;
	}
	.a-content-left>.a-tab-bar>.a-tab-box>ul{
		display: table;
		list-style: none;
		padding: 0;
		margin: 0;
		height: 37px;
	}
	.a-content-left>.a-tab-bar>.a-tab-box>ul>li{
		display: table-cell;
			list-style: none;
			height: 35px;
			text-align: center;
			vertical-align: middle;
			padding: 0;
			margin: 0;
			white-space: nowrap;
			text-overflow: ellipsis;
			border-bottom: 2px solid transparent;
			color: #333;
			overflow: hidden;
	}
	.a-content-left>.a-tab-bar>.a-tab-box>ul>li.active{
		color: #04aeff;
		border-bottom: 2px solid #04aeff;
	}
	.a-content-left>.a-tab-bar>.a-tab-box>ul>li>a{
		display: block;
		text-align: center;
		text-align: center;
		font-size: 14px;
		color: inherit;
		margin-right: 10px;
		margin-left: 10px;
		text-decoration: none;
	}
	.a-content-left>.a-tab-bar>.a-toggle{
		position: absolute;
		right: 0;
		top: 0;
		width: 20px;
	}
	.a-content-left>.a-tab-bar>.a-toggle>.glyphicon{
		font-size: 18px;
		line-height: 36px;
		color: #337ab7;
	}
	.a-content-left>.a-tab-bar>.a-tab-content{
		position: absolute;
		top: 98%;
		left: -5px;
		width: 500px;
		min-height: 200px;
		max-height: 500px;
		overflow: auto;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 4px;
		-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
		-mozbox-shadow: 3px 3px 3px rgba(0,0,0,0.3);
		-o-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
		box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
		background-color: #fff;
		z-index: 1000;
		display: none;
		background-image: -moz-linear-gradient(to bottom,#fff, #f5f5f5);
		background-image: -webkit-linear-gradient(to bottom,#fff, #f5f5f5);
		background-image: -o-linear-gradient(to bottom,#fff, #f5f5f5);
		background-image: linear-gradient(to bottom,#fff, #f5f5f5);
	}
	.a-tab-bar>.a-tab-content>ul{
		list-style: none;
		padding: 0;
	}
	.a-tab-bar>.a-tab-content>ul>li{
		display: inline-block;
		float: left;
	}
	.a-tab-bar>.a-tab-content>ul>li>a{
		display: block;
		width: 108px;
		height: 30px;
		line-height: 20px;
		text-align: center;
		padding: 5px 0;
		margin: 10px 5px;
		color: #555;
		background-color: #efefef;
		border-radius: 4px;
		box-shadow: 0 1px 1px #ccc;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.a-tab-bar>.a-tab-content>ul>li>a:hover{
		background-color: #cfcfcf;
		color: #333;
	}
	.a-content-box{
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		padding: 10px;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.a-tab-bar+.a-content-box{
		top: 42px;
	}
	.a-content-box>ul{
		list-style: none;
		padding: 0;
		overflow: hidden;
	}
	.a-content-box h3,.a-content-box h3>a.active,
	.a-content-box h3>a:hover,.a-content-box h3>a:active{
		font-size: 14px;
		font-weight: bold;
		line-height: 30px;
		color: #04aeff;
		margin-bottom: 5px;
		margin: 0;
		text-decoration: none;
	}
	.a-content-box h3>a{
		color: #777;
	}
	.a-content-box>ul>li{
		border-bottom: 1px solid #ededed;
		padding: 10px 0 5px 0;
	}
	.a-content-box>ul ul{
		list-style: none;
		padding-left: 15px;
	}
	.a-content-box>ul ul>li{
		padding: 10px 0 5px;
		border-bottom: 1px dashed #ededed;
	}
	.a-content-box>ul ul>li>a{
		color: #555;
		font-size: 14px;
		line-height: 30px;
		font-weight: 700;
		margin-bottom: 10px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-decoration: none;
	}
	.a-content-box>ul ul>li.active>a,.a-content-box>ul ul>li>a:hover{
		color: #04aeff;
	}
	.a-content-box>ul ul>li>p{
		font-size: 12px;
		line-height: 18px;
		color: #999;
		text-indent: 2em;
		margin: 0;
	}
	.a-content-box>ul ul>li:last-child{
		border-bottom: none;
	}
	.a-content-box .other{
		font-size: 14px;
		line-height: 24px;
		display: block;
		overflow: hidden;
		margin-top: 5px;
		margin-bottom: 6px;
		color: #b3b3b3;
		clear: both;
		zoom: 1;
	}
	.a-content-box .other span{
		margin-right: 10px;
	}
	.a-content-box .other a{
		font-size: 18px;
		line-height: 24px;
		color: #d2d2d2;
		margin-right: 10px;
	}
	.a-content-box .other a.on{
		color: #feb797;
	}
/* content left end */

/* content body start */
	.a-content-body{
		position: absolute;
		top: 0;
		left: 0px;
		right: 0;
		bottom: 0;
		padding: 10px 2%;
		border: 1px solid #e6e6e6;
		background-color: #fff;
		overflow: auto;
	}
	.a-content-left+.a-content-body{
		left: 410px;
	}
	.a-content-body>.page-header>p{
		margin: 0;
		padding: 5px;
	}
	.a-content-body>.page-header>p>span{
		margin-right: 20px;
		color: #999;
	}
	.a-content-body>.page-header>p>a{
		font-size: 18px;
		line-height: 18px;
		color: #d2d2d2;
	}
	.a-content-body>.page-header>p>a.on{
		color: #feb797;
	}
	.a-content-body>.a-txt{
		color: #333;
		font-size: 15px;
		padding: 10px 0;
		text-align: justify;
		text-justify: inter-ideograph;
	}
	.a-content-body>.a-txt p{
		text-indent: 2em;
		white-space: normal;
		line-height: 2em;
		margin-top: .5em;
		margin-bottom: 1em;
	}
/* content body end */

/* data start */
	.a-data-box{
		position: relative;
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.a-data-box>.a-cell{
		display: block;
		position: relative;
		background-image:linear-gradient(#312742, #5c4d78, #312742);
		background-image:-moz-linear-gradient(#312742, #5c4d78, #312742);
		background-image:-ms-linear-gradient(#312742, #5c4d78, #312742);
		background-image:-webkit-linear-gradient(#312742, #5c4d78, #312742);
		background-image:-o-linear-gradient(#312742, #5c4d78, #312742);
	}
	.a-data-box>.a-cell>h3{
		color: #fff;
		margin: 0;
		padding: 0;
		line-height: 70px;
		padding-left: 30px;
	}
	.trends-point{
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -200px;
		z-index: 100;
	}
	.trends-point>li{
		position: relative;
		border-left: 1px solid #fff;
		height: 50px;
		clear: both;
	}
	.trends-point>li>a{
		line-height: 50px;
		padding: 0 20px;
		color: #fff;
	}
	.trends-point>li>a>span{
		position: absolute;
		width: 18px;
		height:15px;
		left: -9px;
		top: 50%;
		margin-top: -10px;
		background-image: url(../images/trends-point11.png);
		background-repeat: no-repeat;
		background-position: center;
	}
	.trends-point>li.active>a>span{
		background-image: url(../images/trends-point22.png);
	}
	.a-content .arrow-box{
		position: absolute;
		right: 10px;
		bottom: 5px;
		color: #fff;
		width: 100px;
		line-height: 30px;
		text-shadow: 0 0 1px rgba(0,0,0,.5);
	}
	.a-content .arrow-box>.up-arrow{
		position: relative;
		display: inline-block;
		float: left;
		width: 20px;
		height: 20px;
		top: 10px;
		background-image: url(../images/up-arrow.png);
		background-repeat: no-repeat;
		background-size: 14px;
		-webkit-animation: up-fade 1s ease 0s infinite;
	}
	@-webkit-keyframes up-fade{
		0%{opacity:1}
		100%{-webkit-transform:translate3d(0px,-5px,0);opacity:.5}
	}
/* data end */

/* tab-bar start */
	.tab-bar{
		position: relative;
		display: block;
		border-bottom: 1px solid #e6e6e6;
		height: 37px;
	}
	.tab-bar .brand{
		position: absolute;
		left: 0;
		width: 130px;
		height: 37px;
		font-size: 20px;
		line-height: 37px;
		color: #303030;
	}
	.tab-bar .input-group{
		width: 150px;
		padding-top: 0;
	}
	.tab-bar>.pull-right>a{
		margin-left: 15px;
		color: #999;
		font-size: 12px;
		line-height: 35px;
	}
	.tab-bar>.pull-right>a>.a-icon{
		position: relative;
		top: 4px;
		right: 3px;
	}
/* tab bar end */

/* table start */
	.a-content-body>.table-list{
		position: absolute;
		top: 65px;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0 2%;
		overflow: auto;
	}
	.table-list>.table{
		table-layout: fixed;
		vertical-align: middle!important;
		border-width: 0;
		margin: 0;
		font-size: 12px;
	}
	.table-list>.table a{
		font-size: 12px;
	}
	.table-list>.table thead{
		border: 1px solid #ddd;
		filter: alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150)
		progid:DXImageTransform.Microsoft.gradient(startcolorstr=#fff,endcolorstr=#f3f3f3,gradientType=0);
		-ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150)
		progid:DXImageTransform.Microsoft.gradient(startcolorstr=#fff,endcolorstr=#f3f3f3,gradientType=0);/*IE8*/
		background:-moz-linear-gradient(top, #fff, #fff);
		background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#f3f3f3));
	}
	.table-list>.table thead>tr>th{
		border-width: 0;
		color:#999;
		text-align: center;
		padding: 11px 8px;
	}
	.table-list>.table tr>td{
		color: #888;
		overflow: hidden;
	}
	.table-list>.table tr>td:first-child{
		text-align: left;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.table-list>.table tr>td:first-child>a{
		text-decoration: none;
		color: #666;
		font-size: 14px;
	}
	.table-list>.table .a-source{
		width: 180px;
	}
	.table-list>.table .a-cla{
		width: 80px;
	}
	.table-list>.table .a-time{
		width: 140px;
	}
	.table-list>.table .a-del{
		width: 60px;
	}
/* table end */

/* search start */
	.a-contform{
		margin: 30px 0 35px;
		padding-top: 20px;
	}
	.a-contform>.form-group{
		width: 45%;
	}
	.a-contform>.form-group input{
		width: 100%;
		box-shadow: 0 2px 1px #ddd inset;
	}
	.a-contform .a-icon-btn-search{
		float: left;
		margin: 0 12px;
	}
	.a-warning{
		margin: 25px 0 20px;
		color: #999;
		line-height: 30px;
		overflow: hidden;
	}
	.a-warning>span{
		color: #f30;
	}
	.a-warning .a-icon-warning{
		position: relative;
		top: -5px;
		display: inline;
		font-size: 0;
		line-height: 0;
		height: 0;
		padding: 15px 16px;
		margin: 0 10px 5px;
	}
	.a-clear-history{
		font-size: 12px;
		line-height: 20px;
		color: #999;
		margin-bottom: 3px;
	}
	.a-clear-history .a-icon-ash-bin{
		float: left;
		margin-right: 6px;
	}
	.a-con-keyword{
		padding: 5px 0;
	}
	.a-con-keyword .media-right{
		width: 200px;
		white-space: normal;
		padding: 30px 20px;
		background-color: #f5f5f5;
		color: #9a9a9a;
	}
	.a-con-keyword .media-right{
		width: 200px;
		white-space: nowrap;
		box-sizing: border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		padding: 30px 20px;
	}
	.a-con-keyword .media-right>p{
		font-size: 12px;
		color: #7e7e7e;
	}
	.a-content-body tbody tr td:first-child{
		text-align: left;
	}
	.a-con-keyword .bg-f5{
		display: table-cell;
		background-color:#f5f5f5;
	}
	.a-con-keyword .media-right>p>span{
		color: #ff8900;
	}
	.a-con-keyword .media-right>ul{
		display: block;
		min-width: 160px;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.a-con-keyword .media-right>ul>li{
		position: relative;
		display: block;
		height: 28px;
		list-style: none;
		margin-bottom: 8px;
		max-width: 160px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.a-con-keyword .media-right>ul>li>a{
		padding: 3px 8px 3px 25px;
		border: 1px solid #e6e6e6;
		color: #666;
		background-color: #fff;
		background-image: url(../images/sprite.png);
		background-position: 0 -193px;
		background-repeat: no-repeat;
	}
	.a-con-keyword .media-right>ul>li>a.glyphicon{
		padding: 0;
		background: transparent;
		border: none;
		position: absolute;
		right: 0px;
		top: 3px;
	}
	.a-con-keyword .media-right>.btn-group{
		font-size: 12px;
		color: #666;
		display: none;
	}
	.a-con-keyword .media-right>.btn-group>a{
		color: #666;
		padding: 5px 9px;
	}
	.a-con-keyword .media-right>.btn-group>a:hover{
		color: #f80;
	}
	.a-line+.table-list{
		position: relative;
		top: 10px;
		padding: 0;
	}
	.table-list .a-prompt{
		padding: 12px;
		color: #999;
	}
	.table-list .a-prompt>span{
		color: #ff8900;
	}
	.table-list .a-prompt .a-icon-point-add{
		float: left;
		margin-right: 5px;
	}
/* search end */